{% extends 'layout.twig' %}
{% block titulo %}
    Produto apagado
{% endblock %}
{% block conteudo %}
    <h3>O produto foi apagado com sucesso!"</h3>
    <p><a class="btn btn-success" href="{{ url('home') }}">Home</a><a class="btn btn-success" href="{{ url('listarProdutos') }}">Lista de Produtos</a> </p>
{% endblock %}