{% extends 'layout.twig' %}
{% block titulo %}Cadastro de produtos{% endblock %}
{% block conteudo %}
    <h3>APIS e Silex</h3>
    <p>Este projeto faz parte é o exercício do curso APIS e Silex da Code.education.</p>
    <div class="col-xs-12">
        <div class="col-xs-12"><h4>Produtos</h4></div>
        <div class="col-xs-12 col-md-3">
            <div class="col-xs-12 col-md-6">
                <a class="btn btn-primary" href="{{ url('cadProduto') }}">Novo</a>
            </div>
            <div class="col-xs-12 col-md-6">
                <a class="btn btn-primary" href="{{ url('listarProdutos') }}">Listar</a>
            </div>
        </div>
    </div>
{% endblock %}